# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [1]:
# Import libraries
%pip install seaborn


import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Requirement already satisfied: seaborn in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (0.13.0)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (from seaborn) (1.26.1)
Requirement already satisfied: pandas>=1.2 in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (from seaborn) (2.1.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.3 in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (from seaborn) (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (4.43.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (23.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\usuario\anaconda3\envs\clase\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.3->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [2]:
# your code here

pokemon = pd.read_csv('Pokemon.csv')

#El total es la suma de todos los stats?

pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [3]:
stats = pokemon[['HP',	'Attack',	'Defense',	'Sp. Atk',	'Sp. Def',	'Speed']]
stats['total']= 0
stats

C:\Users\Usuario\AppData\Local\Temp\ipykernel_12012\1935376858.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats['total']=0

     HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  total
0    45      49       49       65       65     45      0
1    60      62       63       80       80     60      0
2    80      82       83      100      100     80      0
3    80     100      123      122      120     80      0
4    39      52       43       60       50     65      0
..   ..     ...      ...      ...      ...    ...    ...
795  50     100      150      100      150     50      0
796  50     160      110      160      110    110      0
797  80     110       60      150      130     70      0
798  80     160       60      170      130     80      0
799  80     110      120      130       90     70      0

[800 rows x 7 columns]

In [10]:
stats['total']=stats[['HP',	'Attack',	'Defense',	'Sp. Atk',	'Sp. Def',	'Speed']].sum(axis=1)

stats

C:\Users\Usuario\AppData\Local\Temp\ipykernel_12012\1894137282.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats['total']=stats[['HP',	'Attack',	'Defense',	'Sp. Atk',	'Sp. Def',	'Speed']].sum(axis=1)

     HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  total
0    45      49       49       65       65     45    318
1    60      62       63       80       80     60    405
2    80      82       83      100      100     80    525
3    80     100      123      122      120     80    625
4    39      52       43       60       50     65    309
..   ..     ...      ...      ...      ...    ...    ...
795  50     100      150      100      150     50    600
796  50     160      110      160      110    110    700
797  80     110       60      150      130     70    600
798  80     160       60      170      130     80    680
799  80     110      120      130       90     70    600

[800 rows x 7 columns]

In [11]:
stats['total']==pokemon['Total'] #asi vemos que la suma de los stats es el TOTAL¡

0      True
1      True
2      True
3      True
4      True
       ...
795    True
796    True
797    True
798    True
799    True
Length: 800, dtype: bool

## Resolución de problemas iteración 2

Ahora que hemos consolidado los campos de habilidades, podemos actualizar la declaración del problema.La nueva declaración del problema es:

### ¿Qué tipo de Pokémon tiene más probabilidades de tener el valor `total" más alto?

En el estado de problemas actualizado, suponemos que existe una cierta relación entre el `total" y el tipo de Pokémon.Pero tenemos dos campos * Tipo * (`Tipo 1` y` Tipo 2`) que tienen valores de cadena.En el análisis de datos, los campos de cadena deben transformarse en formato numérico para analizarse.

Además, tenga en cuenta que `Tipo 1` siempre tiene un valor, pero 'tipo 2` a veces está vacío (con el valor` nan`).Además, el tipo de Pokémon que elegimos puede estar en `Tipo 1` o` Tipo 2`.

Ahora nuestra expectativa es:

#### Las variables de cadena de tipo 1` y `tipo 2` deben convertirse en variables numéricas para identificar la relación entre` total 'y el tipo de Pokémon.

La información que necesitamos recopilar es:

#### ¿Cómo convertir dos variables de cadena a numéricos?

Abordemos primero la primera pregunta.Puede usar un método llamado ** una codificación en caliente ** que se usa con frecuencia en el aprendizaje automático para codificar variables de cadena categórica a numéricos.La idea es reunir todos los valores de cadena posibles en un campo categórico y crear un campo numérico para cada valor de cadena único.Cada uno de esos campos numéricos usa `1` y` 0` para indicar si el registro de datos tiene el valor categórico correspondiente.Se puede encontrar una explicación detallada de una codificación en caliente en [este artículo] (https://hackernoon.com/what-is-is-one-hot-coding-why-and-when-do-you-have-to-use-IT-E3C6186D008F).Lo aprenderá formalmente en el Módulo 3.

Por ejemplo, si un Pokémon tiene `Tipo 1` como` venenoso 'y `tipo 2` como` fuego`, entonces sus campos `veneno` y` fuego` son `1`, mientras que todos los demás campos son` 0`.Si un Pokémon tiene `Tipo 1` como` Water` y `Type 2` como` nan`, entonces su campo 'Water` es `1` mientras que todos los demás campos son` 0`.

#### En la siguiente celda, use una codificación en caliente para codificar `Tipo 1` y` Tipo 2`.Use los valores de tipo Pokémon como los nombres de los campos numéricos que crea.

Las nuevas variables numéricas que cree deben verse a continuación:

! [Una codificación en caliente] (../ imágenes/one-hot-ending.png)

In [5]:
# your code here

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [6]:
# your code here

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [7]:
# your code here